html {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    color: white;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

hr {
    border: rgba(0, 0, 0, 0.2) solid 1px;
}

.fundo-roxo {
    background-color: purple;
    min-height: 100%;
}

.texto-roxo {
    color: purple;
}

.clash-logo img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
}

.elixir-ícone {
    max-width: 24px;
    height: auto;
}

.para-o-topo a {
    text-decoration: none;
    position: relative;
    left: 6rem;
    z-index: 1;
}

.para-o-topo a:hover,
.para-o-topo a:active {
    filter: grayscale(100%);
}

.conteúdo {
    width: clamp(40vw, 70ch, 100vw);
    /* 
     - 50vw: mínimo (metade da tela)
     - 70ch: ideal (boa leitura — ~70 caracteres por linha)
     - 100vw: máximo absoluto
    */
    margin: 0 auto;
    position: relative;
}

.conteúdo-principal {
    background-color: white;
    max-width: 100vw;
    padding: 8px 24px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.container-principal {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.index {
    list-style: none;
}

.bold {
    font-weight: 900;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}
.oculto {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* SLIDER */

.slide-container {
    width: 100%;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* width: calc(100% - 25px); */
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s;
    /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04aa6d;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04aa6d;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}
